################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Domain/bin/Debug/net10.0
/Domain/obj/Debug/net10.0
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/Domain.csproj.nuget.g.targets
/Domain/obj/project.assets.json
/Domain/obj/project.nuget.cache
/Infraestrutura/bin/Debug/net10.0
/Infraestrutura/bin/Debug/net9.0/Infraestrutura.dll
/Infraestrutura/bin/Debug/net9.0/Infraestrutura.pdb
/Infraestrutura/obj/Debug/net10.0
/Infraestrutura/obj/Debug/net9.0/refint/Infraestrutura.dll
/Infraestrutura/obj/Debug/net9.0/ref/Infraestrutura.dll
/Infraestrutura/obj/Debug/net9.0/Infraestrutura.csproj.AssemblyReference.cache
/Infraestrutura/obj/Debug/net9.0/Infraestrutura.dll
/Infraestrutura/obj/Debug/net9.0/Infraestrutura.pdb
/Infraestrutura/obj/Infraestrutura.csproj.nuget.dgspec.json
/Infraestrutura/obj/Infraestrutura.csproj.nuget.g.props
/Infraestrutura/obj/Infraestrutura.csproj.nuget.g.targets
/Infraestrutura/obj/project.assets.json
/Infraestrutura/obj/project.nuget.cache
/Service/bin/Debug/net10.0
/Service/obj/Debug/net10.0
/Service/obj/project.assets.json
/Service/obj/project.nuget.cache
/Service/obj/Service.csproj.nuget.dgspec.json
/Service/obj/Service.csproj.nuget.g.props
/Service/obj/Service.csproj.nuget.g.targets
/SistemaGestaoDeAssinatura/bin/Debug/net10.0
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/AutoMapper.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Infraestrutura.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Infraestrutura.pdb
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Service.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/Service.pdb
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/SistemaGestaoDeAssinatura.deps.json
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/SistemaGestaoDeAssinatura.dll
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/SistemaGestaoDeAssinatura.pdb
/SistemaGestaoDeAssinatura/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/compressed
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/ref
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/refint
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/refint/SistemaGestaoDeAssinatura.dll
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/rpswa.dswa.cache.json
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/SistemaGestaoDeAssinatura.assets.cache
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/SistemaGestaoDeAssinatura.csproj.AssemblyReference.cache
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/SistemaGestaoDeAssinatura.csproj.CoreCompileInputs.cache
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/SistemaGestaoDeAssinatura.csproj.FileListAbsolute.txt
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/SistemaGestaoDeAssinatura.dll
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/SistemaGestaoDeAssinatura.pdb
/SistemaGestaoDeAssinatura/obj/Debug/net9.0/ref/SistemaGestaoDeAssinatura.dll
/SistemaGestaoDeAssinatura/obj/project.assets.json
/SistemaGestaoDeAssinatura/obj/project.nuget.cache
/SistemaGestaoDeAssinatura/obj/SistemaGestaoDeAssinatura.csproj.nuget.dgspec.json
/SistemaGestaoDeAssinatura/obj/SistemaGestaoDeAssinatura.csproj.nuget.g.props
/SistemaGestaoDeAssinatura/obj/SistemaGestaoDeAssinatura.csproj.nuget.g.targets
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/apphost.exe
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/rbcswa.dswa.cache.json
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/rjimswa.dswa.cache.json
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/rpswa.dswa.cache.json
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/SistemaG.41B3BBD7.Up2Date
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/SistemaGestaoDeAssinatura.dll
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/SistemaGestaoDeAssinatura.GeneratedMSBuildEditorConfig.editorconfig
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/SistemaGestaoDeAssinatura.genruntimeconfig.cache
/SistemaGestaoDeAssinatura/obj/Debug/net10.0/SistemaGestaoDeAssinatura.pdb
/Infraestrutura/obj/Debug/net9.0/Infraestrutura.assets.cache
